@mixin box($height, $border) {

    border-radius: 5px;
    border: $border;
    box-shadow: 0 0 5px black;
    height: $height;


}

@mixin flexElement($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    text-align: center;
}

@mixin linkTypography() {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px dashed white;
    padding-bottom: 2px;
    ;
}

.defines {
    max-height: 500px;
    height: 100%;
    overflow-y: scroll;

    .defines--home {
        overflow: unset;
    }

    .word__header {
        display: flex;
        flex-direction: row;
    }

    .defines--definitions {
        padding-bottom: 1em;
    }

    .defines--part-of-spech {
        display: flex;
        align-items: center;

        &--light-mode {
            color: #4d83bd;
        }

        &--dark-mode {
            color: white
        }

        color: white;

        .defines--part-of-spech--link {
            @include linkTypography();

            margin: 0.6em 0.7em;
            @include flexElement($direction: row, $justify: center, $align: center);

            &--dark-mode {
                color: white;
            }

            &--light-mode {
                color: black;
            }
        }

        em {
            color: rgb(118 104 151);
            margin-left: 0.5em;
            text-shadow: 0px 2px 8px black;
            font-weight: 300;
            letter-spacing: 5px;
            background-color: black;
            color: white;
            padding: 0.2em;
        }
    }

    .defines-definitions-single-word {
        margin: 1em 0.5em;
        padding: .7em;
        @include box($height: auto, $border: 1px solid black);

        &--dark {
            background-color: #001d3d;
            color: white;
        }

        &--light {
            background-color: rgb(7 7 7 / 42%);
            color: dark;
        }
    }




}

.defines--home {
    font-size: 3rem;
    @include box($height: 300px, $border: 3px solid white);
    @include flexElement($direction: column, $justify: center, $align: center);

}

// box mixin 