.header {
    background-color: #001d3d;
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .header__title {
        text-align: center;
        color: white;
        font-weight: 500;
    }

    .header__inputs {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}