@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.header a {
  text-decoration: none;
}
.header a .header__title {
  text-align: center;
  color: #4d83bd;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.header a .header__title:hover {
  color: rgb(118, 104, 151);
}
.header .header__inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.defines {
  max-height: 500px;
  height: 100%;
  overflow-y: scroll;
}
.defines .defines--home {
  overflow: unset;
}
.defines .word__header {
  display: flex;
  flex-direction: row;
}
.defines .defines--part-of-spech {
  display: flex;
  align-items: center;
  color: white;
}
.defines .defines--part-of-spech--light-mode {
  color: #4d83bd;
}
.defines .defines--part-of-spech--dark-mode {
  color: white;
}
.defines .defines--part-of-spech .defines--part-of-spech--link {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px dashed white;
  padding-bottom: 2px;
  margin: 0.6em 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.defines .defines--part-of-spech .defines--part-of-spech--link--dark-mode {
  color: white;
}
.defines .defines--part-of-spech .defines--part-of-spech--link--light-mode {
  color: black;
}
.defines .defines--part-of-spech em {
  color: rgb(118, 104, 151);
  margin-left: 0.5em;
  text-shadow: 0px 2px 8px black;
  font-weight: 300;
  letter-spacing: 5px;
}
.defines .defines-definitions-single-word {
  margin: 1em 0.5em;
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  height: auto;
}
.defines .defines-definitions-single-word--dark {
  background-color: #001d3d;
  color: white;
}
.defines .defines-definitions-single-word--light {
  background-color: rgba(7, 7, 7, 0.42);
  color: dark;
}

.defines--home {
  font-size: 3rem;
  border-radius: 5px;
  border: 3px solid white;
  box-shadow: 0 0 5px black;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app--home {
  width: 100%;
  height: 300px;
  background-color: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  margin-top: 10em;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(130, 54, 54, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}
.item:nth-child(1), .item:nth-child(2) {
  left: 0;
  top: 0;
  width: 500px;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}
.item:nth-child(3) {
  left: 50%;
}
.item:nth-child(4) {
  left: calc(50% + 220px);
}
.item:nth-child(5) {
  left: calc(50% + 440px);
}
.item:nth-child(6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
}
.content .title {
  font-family: "arial-black";
  text-transform: uppercase;
}
.content .description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  font-size: 0.8rem;
}
.content button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}
.nav .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (width > 650px) and (width < 900px) {
  .content .title {
    font-size: 1rem;
  }
  .content .description {
    font-size: 0.7rem;
  }
  .content button {
    font-size: 0.7rem;
  }
  .item {
    width: 160px;
    height: 270px;
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: calc(50% + 170px);
  }
  .item:nth-child(5) {
    left: calc(50% + 340px);
  }
  .item:nth-child(6) {
    left: calc(50% + 510px);
    opacity: 0;
  }
}
@media (width < 650px) {
  .content .title {
    font-size: 0.9rem;
  }
  .content .description {
    font-size: 0.65rem;
  }
  .content button {
    font-size: 0.7rem;
  }
  .item {
    width: 130px;
    height: 220px;
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: calc(50% + 140px);
  }
  .item:nth-child(5) {
    left: calc(50% + 280px);
  }
  .item:nth-child(6) {
    left: calc(50% + 420px);
    opacity: 0;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.app {
  min-height: 100vh;
  height: 100%;
  position: relative;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.app .app--theme {
  position: absolute;
  top: 1em;
  right: 10px;
}
.app.dark-mode {
  background-color: #001d3d;
  color: #fff;
}
.app.light-mode {
  background-color: #f0eded;
  color: #000;
}

.app-light {
  color: #000;
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}/*# sourceMappingURL=style.css.map */