@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Bebas+Neue&display=swap&family=Kalnia:wght@300&display=swap");
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/public/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 99;
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  height: 262px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header a {
  text-decoration: none;
}
.header a .header__title {
  text-align: center;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.header a .header__title:hover {
  color: rgb(201, 197, 197);
}
.header .header__inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.defines {
  max-height: 500px;
  height: 100%;
  overflow-y: scroll;
}
.defines .defines--home {
  overflow: unset;
}
.defines .word__header {
  display: flex;
  flex-direction: row;
}
.defines .defines--definitions {
  padding-bottom: 1em;
}
.defines .defines--part-of-spech {
  display: flex;
  align-items: center;
  color: white;
}
.defines .defines--part-of-spech--light-mode {
  color: #4d83bd;
}
.defines .defines--part-of-spech--dark-mode {
  color: white;
}
.defines .defines--part-of-spech .defines--part-of-spech--link {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px dashed white;
  padding-bottom: 2px;
  margin: 0.6em 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.defines .defines--part-of-spech .defines--part-of-spech--link--dark-mode {
  color: white;
}
.defines .defines--part-of-spech .defines--part-of-spech--link--light-mode {
  color: black;
}
.defines .defines--part-of-spech em {
  color: rgb(118, 104, 151);
  margin-left: 0.5em;
  text-shadow: 0px 2px 8px black;
  font-weight: 300;
  letter-spacing: 5px;
  background-color: black;
  color: white;
  padding: 0.2em;
}
.defines .defines-definitions-single-word {
  margin: 1em 0.5em;
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  height: auto;
}
.defines .defines-definitions-single-word--dark {
  background-color: #001d3d;
  color: white;
}
.defines .defines-definitions-single-word--light {
  background-color: rgba(7, 7, 7, 0.42);
  color: dark;
}

.defines--home {
  font-size: 3rem;
  border-radius: 5px;
  border: 3px solid white;
  box-shadow: 0 0 5px black;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app--home {
  width: 100%;
  height: 300px;
  background-color: white;
  color: black;
}

#root > div > div > main > ul > li:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
  width: 170px;
  height: 170px;
  list-style-type: none;
  position: absolute;
  z-index: 99;
  bottom: 0;
  transform: translateY(-50%);
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 20px 30px rgba(130, 54, 54, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}
.item:nth-child(1), .item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}
.item:nth-child(3) {
  left: 50%;
}
.item:nth-child(4) {
  left: 50%;
}
.item:nth-child(5) {
  left: 50%;
}
.item:nth-child(6) {
  left: 50%;
}

.content {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 5px;
  width: 100%;
  height: 280px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.474);
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  top: 51%;
  left: 50%;
  max-width: 380px;
  transform: translate(-50%, -51%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  padding: 1.5em;
}
.content .title {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}
.content .description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  overflow-y: scroll;
  height: 87px;
  font-size: 1rem;
  font-family: "Kalnia", serif;
  padding: 1em;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.557);
}
.content button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.nav {
  display: flex;
  position: absolute;
  top: 18.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .prev,
.nav .next {
  border: 3px solid white;
}

@media only screen and (max-width: 389px) {
  .item {
    width: 100px;
    height: 100px;
    top: 96%;
    transform: translate(-50%, -96%);
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: 50%;
  }
  .item:nth-child(5) {
    left: 50%;
  }
  .item:nth-child(6) {
    left: 50%;
  }
  .content {
    max-width: 300px;
    height: 250px;
    top: 64%;
    transform: translate(-50%, -64%);
  }
  .content .title {
    text-align: center;
  }
  .content .description {
    height: 100px;
    overflow-y: scroll;
    font-size: 0.8rem;
  }
  .nav {
    top: 80%;
  }
}
@media only screen and (min-width: 390px) and (max-width: 500px) {
  .content {
    top: 54%;
    transform: translate(-50%, -54%);
    height: 286px;
  }
  .item {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 130px;
    height: 130px;
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: 50%;
  }
  .item:nth-child(5) {
    left: 50%;
  }
  .item:nth-child(6) {
    left: 50%;
  }
  .nav {
    bottom: 5%;
    top: unset;
  }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
  .header {
    height: 366px;
  }
  .content {
    top: 57%;
    transform: translate(-50%, -57%);
    height: 336px;
    max-width: 488px;
  }
  .content .description {
    font-size: 1.3rem;
    height: 109px;
  }
  .content button {
    padding: 0.75rem;
    font-size: 1.3rem;
  }
  .item {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 180px;
    height: 180px;
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: 50%;
  }
  .item:nth-child(5) {
    left: 50%;
  }
  .item:nth-child(6) {
    left: 50%;
  }
  .nav {
    bottom: 5%;
    top: unset;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .item {
    width: 150px;
    height: 150px;
    top: 96%;
    transform: translate(-50%, -96%);
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: 50%;
  }
  .item:nth-child(5) {
    left: 50%;
  }
  .nav {
    top: 75%;
  }
}
@media (min-height: 1050px) {
  html {
    font-size: 24px;
  }
  .header {
    height: 400px;
  }
  .item {
    width: 170px;
    height: 170px;
    top: 96%;
    transform: translate(-50%, -96%);
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: 50%;
  }
  .item:nth-child(5) {
    left: 50%;
  }
  .item:nth-child(6) {
    left: 50%;
  }
  .content {
    height: 500px;
    max-width: 488px;
  }
  .content .description {
    font-size: 1.2rem;
    height: 188px;
  }
  .defines {
    max-height: 700px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .item {
    width: 170px;
    height: 170px;
    top: 96%;
    transform: translate(-50%, -96%);
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: 50%;
  }
  .item:nth-child(5) {
    left: 50%;
  }
  .item:nth-child(6) {
    left: 50%;
  }
  .content {
    height: 500px;
    max-width: 488px;
  }
  .content .description {
    font-size: 1.2rem;
    height: 188px;
  }
  .defines {
    max-height: 700px;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 2000px) {
  html {
    font-size: 20px;
  }
  .item {
    width: 170px;
    height: 170px;
    top: 96%;
    transform: translate(-50%, -96%);
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: 50%;
  }
  .item:nth-child(5) {
    left: 50%;
  }
  .item:nth-child(6) {
    left: 50%;
  }
  .header {
    height: 365px;
  }
  .header .header__title {
    font-size: 3.5rem;
  }
  .content {
    height: 350px;
    max-width: 453px;
    transform: translate(-50%, -56%);
    top: 56%;
  }
  .content .description {
    font-size: 1rem;
    height: 188px;
  }
  .defines {
    max-height: 700px;
  }
  .nav {
    top: 75%;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  z-index: 99;
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.app {
  min-height: 100vh;
  height: 100%;
  position: relative;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  z-index: -2;
}
.app .app--theme {
  position: absolute;
  top: 1em;
  right: 10px;
  z-index: 100;
}
.app.dark-mode {
  background-color: #001d3d;
  color: #fff;
}
.app.light-mode {
  background-color: #f0eded;
  color: #000;
}

.app-light {
  color: #000;
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}/*# sourceMappingURL=style.css.map */